<div class=wrapper>

        <div class="about_me">
            <div class="highlights">
                <h2 style="margin-top: 0em;">Pall Sigurdsson</h2>
                <div class="line-block">
                    <div class="line"><em>Open Source superhero and developer</em></div>
                    <div class="line"><a href="http://www.ok.is">Opin Kerfi ehf</a></div>
                    <div class="line">City: Reykjavik</a></div>
                    <div class="line">Country: Iceland</a></div>
                    <div class="line">Phone: (+354) 8654035</a></div>
                    <div class="line">
                        <script type="text/javascript">
                            document.write('\074a href="mailto:');
                            document.write('pall.sigurdsson');
                            document.write('\100');
                            document.write('gmail.com"\076');
                            document.write('pall.sigurdsson');
                            document.write('\100');
                            document.write('gmail.com\074/a\076');
                        </script>
                    </div>

                </div>
            </div>
            <div class="profile_picture" >
                <img src="/img/me.png" />
            </div>



        </div>

        <div class="main_content">
            <hr style="">
            <h2>Current Projects and Interests</h2>
            <p>My current interests revolve around everything computer related, especially in the space of open source
            software, high-availability clusters and system monitoring.

            </p><p>In particular I assist companies and government
            agencies design and implement high-availability and virtualized environments based on open source technology and implement
            high quality and efficient system monitoring with Nagios.

            <h2>Previous Work</h2>
            <ul>
                <li><a href="http://www.minor.is">Minor</a> - Founder, CEO and Lead Developer. </li>
                <li><a href="http://www.basis.is">Basis</a> - Unix Consultant and monitoring specialist. </li>
                <li><a href="http://deloitte.is">Deloitte</a> - Internal system administration and Help Desk.  </li>
            </ul>
            <h2>Education</h2>
            <ul>
                <li>B.Sc. in Computer Science, Reykjavik University, Graduated 2007.</li>
                <li>Some Tech Industry degrees, including ones from Red Hat, Cisco, IBM</li>
            </ul>
            <h2>Personal</h2>
            <p>
                In my leisure time I do a fair bit of recreational diving. In Iceland there are a number of good
                dive sites, including geothermally active lakes and fissure diving between the North American and
                Eurasian continental plates.
            </p>
            <p>I also study and play harp. I enjoy playing a range of styles, from classical to English traditional tunes and modern music.
                My weapon of choice is a 37-string lever harp made in Germany.
            </p>
            <h2>Further Information</h2>
            <p>
                This website contains some of my <a href="/projects">projects</a> and <a href="/contact">contact information</a>.
                You can also watch my activity on <a href="https://github.com/palli">github</a>.
            </p>
            <p>
                My CV in PDF format can be viewed <a href="/resume-english.pdf">here</a>.
            </p>
        </div>

</div>
