<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Pall Sigurdsson </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link type="text/plain" rel="author" href="/humans.txt" />
</head>
<body>
  <div id="main">
      <div id="box">

            <div id="menu">
                <ul>
                  <li><a href="/about/">About me</a></li>
                    <li><a href="/posts/">Posts</a></li>
                    <li><a href="/projects/">Projects</a></li>
                  <li><a href="/contact/">Contact me</a></li>
                </ul>
            </div>

            <div class="main_body">
              <div class="content">
                  {{ content }}
              </div>
            </div>

      </div>
  </div>
</body>
</html>
